$white: #FFFFFF;
$black: #303440;
$gray: #9B9B9B;
$darkgrey: #5A5A5A;
$dark: #303440;
$default: #292E37;

$primary: #015C9E;
$secondary: #FFC223;
$success: #3CD089;
$danger: #FF6060;
$warning: #FFD400;

$min-contrast-ratio: 2.5;